---
layout: base.liquid
---
<div id="content">
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
    <section>
        {{ content }}
    </section>
</div>
<footer class="stay-above-header">
    <p>
        Content updated {{ global.lastUpdated }} by <a href="/">{{ global.me }}</a> &#183;
        {% newTabLink "CC BY-SA 4.0" "https://creativecommons.org/licenses/by-sa/4.0/" %}<br>
    </p>
</footer>
<header id="site-header">
    <nav>
        {% for page in mainPages %}
        <a href="{{ page.href }}">{{ page.title }}</a>
        {% endfor %}
    </nav>
</header>
