---
layout: layout.liquid
---

<small><em>Originally published on {{ page.date | date: "%Y-%m-%d" }}</em></small>

{% if lastUpdated %}
<br><small><em>Last updated on {{ lastUpdated | date: "%Y-%m-%d" }}</em></small>
{% endif %}

{{ content }}

{% assign prevNote = collections.note | getPreviousCollectionItem: page %}
{% assign nextNote = collections.note | getNextCollectionItem: page %}

{% if prevNote or nextNote %}
<section>
<h2>Other Posts</h2>
<ul>
{% if nextNote %}
    <li>Next: <a href="{{ nextNote.url }}">{{ nextNote.data.title }}</a> — {{ nextNote.data.date | date: "%Y-%m-%d" }}</li>
{% endif %}

{% if prevNote %}
    <li>Previous: <a href="{{ prevNote.url }}">{{ prevNote.data.title }}</a> — {{ prevNote.data.date | date: "%Y-%m-%d" }}</li>
{% endif %}
</ul>
</section>
{% endif %}
